.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80vh;
  padding: 10px;
}
.wrapper>*{
  width: 30%;
  min-width: 300px;
}
.styling{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
