<div class="preview grid-button">
  <span *ngFor="let button of buttons" ngStyle="button"
        [ngStyle]="button"
        [style.paddingBottom]="button.paddingBottom+'px'"
        [style.paddingTop]="button.paddingTop+'px'"
        [style.paddingLeft]="button.paddingLeft+'px'"
        [style.paddingRight]="button.paddingRight+'px'"
        [style.boxShadow]="button.boxShadow"
        [style.fontFamily]="button.fontFamily"
        [style.textShadow]="button.textShadow"
        [style.fontWeight]="button.fontWeight"
        [ngClass]="button.class"
        [style.width]="button.width+'px'"
        [style.height]="button.height+'px'"
        [style.padding]="button.padding+'px'"
        [style.fontSize]="button.fontSize+'px'"
        [style.borderRadius]="button.borderRadius+'px'"
        (click)="buttonService.updateButton(button)"
  >
  {{button.textValue}}
  </span>
</div>
